<!--
Copyright 2020 OpenCDS.org

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<template>
    <div id="opioid" class="opioidData" :onload="display()">
        <h1>Opioid</h1>
        <div v-html="opioidData"></div>
        <div class="list">
            <ul>
                <li v-for="link in links" v-bind:key="link">
                    <a v-bind:href="link.url">{{link.label}}</a>
                </li>
            </ul>
            <p v-if="source"><a v-bind:href="source.url">{{source.label}}</a></p>
        </div>
    </div>
</template>

<script>
    import VueConfig from 'vue-configuration'
    import axios from 'axios';
    import fhir from 'fhir.js/src/adapters/native';
    import uuid from 'uuid/v1';
    import Vue from 'vue';
    import appConfig from '../config.js'

    Vue.use(VueConfig, {
        config: appConfig
    });

    export default {
        name: "Opioid",
        data() {
            return {
                opioidData: '',
                links: [],
                source: {},
                done: false
            }
        },
        methods: {
            display() {
                if (!this.done && this.tokenData.access_token) {
                    this.done = true;
                    var config = {
                        baseUrl: this.$config.get('base_url'),
                        auth: {
                            bearer: this.tokenData.access_token
                        }
                    };
                    var fhirClient = fhir(config);
                    var patient = {};
                    var medOrders = {};
                    fhirClient.read({
                        type: 'Patient',
                        id: this.tokenData.patient
                    })
                        .then(response => {
                            patient = response.data;
                        })
                        .then(() => {
                            fhirClient.search({
                                type: 'MedicationOrder',
                                query: {
                                    patient: this.tokenData.patient
                                }
                            })
                                .then(response => {
                                    medOrders = response.data;
                                    // collect medications
                                    let medIds = {};
                                    medOrders.entry.forEach((medOrder) => {
                                        if (medOrder.resource.resourceType === "MedicationOrder" && medOrder.resource.medicationReference)
                                            var medRefArray = medOrder.resource.medicationReference.reference.split('/');
                                        if (medRefArray !== undefined) {
                                            var medRef = medRefArray[medRefArray.length - 1];
                                            if (!medIds[medRef]) {
                                                medIds[medRef] = 1;
                                            }
                                        }
                                    });
                                    return medIds;
                                })
                                .then(medIds => {
                                    var promises = [];
                                    for (let ref in medIds) {
                                        let medication;
                                        promises.push(fhirClient.read({
                                            type: 'Medication',
                                            id: ref
                                        }).then(response => {
                                            medication = response.data;
                                            if (medication.resourceType === "Medication") {
                                                medOrders.entry.push({resource: medication});
                                                medOrders.total = medOrders.total + 1;
                                            }
                                        }));
                                    }
                                    return promises;
                                })
                                .then(promises => {
                                    Promise.allSettled(promises)
                                        .then(() => {
                                                // promises are in the way here...
                                                if (patient && medOrders) {
                                                    var cdsRequest = {
                                                        user: this.tokenData.patient,
                                                        hook: 'patient-view',
                                                        hookInstance: uuid(),
                                                        context: {
                                                            patientId: this.tokenData.patient
                                                        },
                                                        prefetch: {
                                                            patient: patient,
                                                            medOrders: medOrders
                                                        }
                                                    };
                                                    axios({
                                                        method: 'POST',
                                                        url: this.$config.get('cds_url'),
                                                        responseType: 'json',
                                                        headers: {
                                                            'Content-Type': 'application/json'
                                                        },
                                                        data: cdsRequest
                                                    }).then(response => {
                                                        let cdsResponse = response.data;
                                                        this.opioidData = cdsResponse.cards[0].detail;
                                                        this.links = cdsResponse.cards[0].links;
                                                        this.source = cdsResponse.cards[0].source;
                                                    });
                                                } else {
                                                    this.opioidData = 'Did not retrieve all required data.  Unable to proceed.'
                                                }
                                            }
                                        )
                                });
                        });
                }
            }
        },
        props: {
            tokenData: Object
        }
    }
</script>

<style>
    .opioidData {: left;
        align-content: center;
        width: 670px;
    }

    .list {
        text-align: left;
    }
</style>
