<!--
Copyright 2020 OpenCDS.org

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<template>
    <div id="redirect" :onload="token()">
        <div>Token: {{token}}</div>
        <h1>Validating...</h1>
    </div>
</template>

<script>
    import Vue from 'vue'
    import axios from 'axios'
    import VueConfig from 'vue-configuration'
    import appConfig from '../config.js'

    Vue.use(VueConfig, {
        config: appConfig
    });

    export default {
        name: 'Redirect',
        methods: {
            data() {
                return {
                    tokenData: {}
                }
            },
            token: function () {
                // get the conformance
                axios({
                    method: 'GET',
                    url: this.$config.get('conformance_url'),
                    responseType: 'json'
                }).then(response => {
                    var metadata = response.data;
                    metadata.rest[0].security.extension[0].extension.forEach(endpoint => {
                        if (endpoint.url === 'token') {
                            axios({
                                method: 'POST',
                                url: endpoint.valueUri,
                                headers: {
                                    'Accept': 'application/json;charset=UTF-8'
                                },
                                data: 'grant_type=authorization_code&code=' + this.$route.query.code +
                                    '&client_id=' + this.$config.get('client_id') +
                                    '&redirect_uri=' + this.$config.get('redirect_uri')
                            }).then(result => {
                                this.tokenData = result.data;
                                this.$router.push({name: 'opioid', params: {tokenData: this.tokenData}});
                            });
                        }
                    })
                })
            }
        },
        data() {
            return {
                tokenData: Object
            }
        }
    }
</script>

<style scoped>

</style>
